@{
  Layout = "/Views/Shared/_Print.cshtml";
}

<style>
.spis-pokup-div-table {
  margin-top: 10px;
}

.spis-pokup-first-row {
  margin-top: 20px;
}

table {
  word-wrap: break-word;
  border-collapse: collapse;
  border-spacing: 0;
}

tr {
  border: 1px solid black;
  border-collapse: collapse;
  page-break-inside: avoid; 
  page-break-after: auto;
}

td {
  border: 1px solid black;
  border-collapse: collapse;
  height: 21px;
}

.vip {
  width: 35px;
}

.info1 {
  width: 200px;
}

.info2 {
  width: 80px;
}

.info3 {
  width: 150px;
}

.info4 {
  width: 200px;
}

.info5 {
  width: 60px;
}

.info6 {
  width: 60px;
}

.info7 {
  width: 70px;
}

.info8 {
  width: 80px;
}

.info9 {
  width: 80px;
}
</style>

<div style="margin: 15px 0 0 15px">

  <div align="center">
    <H2 style="color: black">Список не посещающих салон</H2>
  </div>

  <div align="center" class="spis-pokup-div-table">
    <table width="980">
      <tr>
        <td align="center">Дата</td>
        <td align="center">VIP</td>
        <td align="center">ФИО</td>
        <td align="center">Дата выдачи</td>
        <td align="center">Телефон</td>
        <td align="center">Наименование товара</td>
        <td align="center">Выдано</td>
        <td align="center">Сумма</td>
        <td align="center">Осталось</td>
        <td align="center">Посещения</td>
      </tr>
      <tr ng-repeat="item in data">
        <td align="center" class="info9">{{item.NE_HODIT_DATE | date:'dd.MM.yyyy'}}</td>
        <td align="center" class="vip">{{item.VIP === 1 ? "VIP" : ""}}</td>
        <td align="center" class="info1">{{item.FIO}}</td>
        <td align="center" class="info2">{{item.D_VID | date:'dd.MM.yyyy'}}</td>
        <td align="center" class="info3">{{item.PHONE}}</td>
        <td align="center" class="info4">{{item.NAME}}</td>
        <td align="center" class="info5">{{item.VID}}</td>
        <td align="center" class="info6">{{item.SUMMA}}</td>
        <td align="center" class="info7">{{item.OSTALOS_DN_ABON > 0 ? item.OSTALOS_DN_ABON : ""}}</td>
        <td align="center" class="info8">{{item.VISITS}}</td>
      </tr>
    </table>
  </div>

</div>