@{
  Layout = "/Views/Shared/_Print.cshtml";
}


@section styles{

<link href="~/Content/print-kass-order.css" rel="stylesheet" />  

}

@section scripts{

<script>
  jQuery(document).ready(() => {
  /*
    $("#print").scope().m_org_name = "Постоянство А";
    $("#print").scope().n_schet = "123";
    $("#print").scope().d_schet = new Date();
    $("#print").scope().o_ank_surname = "Александров";
    $("#print").scope().o_ank_name = "Олег";
    $("#print").scope().o_ank_secname = "Константирович";
    $("#print").scope().m_product_name = "Ковёр";
    $("#print").scope().summa = "12345,87";
    $("#print").scope().summa_rub = 12345;
    $("#print").scope().summa_kop = 87;
    $("#print").scope().s_user_surname = "Константинов";
    $("#print").scope().summa_propisyu = "Двенадцать тысят триста сорок пять рублей (87) копеек";
    */
  });
</script>

}


<div class="container-1">
  <div class="container-2">

    <div class="a1">Унифицированная форма № КО-1</div>
    <div class="a2">Утверждена Постановлением Госкомстата</div>
    <div class="a3">России от 18.08.1998 №88</div>
    <div class="a4">Форма по ОКУД</div>
    <div class="a5">по ОКПО</div>

    <div class="a6"></div>

    <div class="a7"></div>
    <div class="a8"></div>
    <div class="a9"></div>
    <div class="a10"></div>
    <div class="a11"></div>
    <div class="a12"></div>
    <div class="a13"></div>
    <div class="a14"></div>
    <div class="a15"></div>
    <div class="a16"></div>
    <div class="a17"></div>
    <div class="a18"></div>
    <div class="a19"></div>
    <div class="a20"></div>
    <div class="a21"></div>
    <div class="a22"></div>
    <div class="a23"></div>
    <div class="a24"></div>
    <div class="a25"></div>
    <div class="a26"></div>
    <div class="a27">организация</div>
    <div class="a28"></div>
    <div class="a29">структурное подразделение</div>
    <div class="a30"></div>
    <div class="a31"></div>
    <div class="a32">Номер документа</div>
    <div class="a33">Дата составления</div>
    <div class="a34">Код</div>
    <div class="a35">031001</div>
    <div class="a36">ПРИХОДНЫЙ КАССОВЫЙ ОРДЕР</div>
    <div class="a37"></div>
    <div class="a38"></div>
    <div class="a39"></div>
    <div class="a40"></div>
    <div class="a41"></div>
    <div class="a42"></div>
    <div class="a43"></div>
    <div class="a44"></div>
    <div class="a45">Дебет</div>
    <div class="a46">Кредит</div>
    <div class="a47">Сумма, руб, коп</div>
    <div class="a48">Код целевого назна- чения</div>
    <div class="a49">код струк- турного под- разделения</div>
    <div class="a50">корреспонди- рующий счет, субсчет</div>
    <div class="a51">код анали- тического учета</div>
    <div class="a52">Принято от:</div>
    <div class="a53">Основание:</div>
    <div class="a54">Сумма:</div>
    <div class="a55">руб.</div>
    <div class="a56">коп.</div>
    <div class="a57">В том числе:</div>
    <div class="a58">Приложение:</div>
    <div class="a59">Главный бухгалтер</div>
    <div class="a60">подпись</div>
    <div class="a61">расшифровка подписи</div>
    <div class="a62">Получил кассир</div>
    <div class="a63">подпись</div>
    <div class="a64">расшифровка подписи</div>
    <div class="a65"></div>
    <div class="a66"></div>
    <div class="a67"></div>
    <div class="a68"></div>
    <div class="a69"></div>
    <div class="a70"></div>
    <div class="a71"></div>
    <div class="a72"></div>
    <div class="a73"></div>
    <div class="a74"></div>
    <div class="a75"></div>
    <div class="a76"></div>
    <div class="a77"></div>
    <div class="a78"></div>
    <div class="a79"></div>
    <div class="a80"></div>
    <div class="a81"></div>
    <div class="a82"></div>
    <div class="a83"></div>
    <div class="a84"></div>
    <div class="a85"></div>
    <div class="a86"></div>
    <div class="a87"></div>
    <div class="a88"></div>
    <div class="a89"></div>
    <div class="a90"></div>
    <div class="a91"></div>
    <div class="a92"></div>
    <div class="a93"></div>
    <div class="a94"></div>
    <div class="a95"></div>
    <div class="a96"></div>
    <div class="a97">организация</div>
    <div class="a98">КВИТАНЦИЯ</div>
    <div class="a99">к приходному кассовому ордеру №</div>
    <div class="a100">от&nbsp;&nbsp;"&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"</div>
    <div class="a101">г.</div>
    <div class="a102">Принято от:</div>
    <div class="a103"></div>
    <div class="a104">Основание:</div>
    <div class="a105">Сумма:</div>
    <div class="a106">руб.</div>
    <div class="a107">коп.</div>
    <div class="a108">руб.</div>
    <div class="a109">коп.</div>
    <div class="a110">В том числе:</div>
    <div class="a111">"&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"</div>
    <div class="a112">г.</div>
    <div class="a113">М.П. (штампа)</div>
    <div class="a114">Главный бухгалтер</div>
    <div class="a115">подпись</div>
    <div class="a116">расшифровка подписи</div>
    <div class="a117">Кассир</div>
    <div class="a118">подпись</div>
    <div class="a119">расшифровка подписи</div>
    <div class="a120"></div>
    <div class="a121">линия отреза</div>

    <div class="a122">
      <span>{{m_org_name}}</span>
    </div>
    <div class="a123">
      <span>{{n_schet}}</span>
    </div>
    <div class="a124">{{d_schet | date:'dd.MM.yyyy'}}</div>
    <div class="a125">{{o_ank_surname + " " + o_ank_name + " " + o_ank_secname}}</div>
    <div class="a126">{{m_product_name}}</div>
    <div class="a127">{{summa_rub}}</div>
    <div class="a128">{{summa_kop}}</div>
    <div class="a129">{{s_user_surname}}</div>
    <div class="a130">
      <span>{{summa}}</span>
    </div>
    <div class="a132">
      <span>{{m_org_name}}</span>
    </div>
    <div class="a133">{{d_schet | date:'dd'}}</div>
    <div class="a134">{{d_schet | date:'MMMM yyyy'}}</div>
    <div class="a135">{{o_ank_surname}}</div>
    <div class="a136">{{o_ank_name + " " + o_ank_secname}}</div>
    <div class="a137">{{m_product_name}}</div>
    <div class="a138">{{summa_rub}}</div>
    <div class="a139">{{summa_kop}}</div>
    <div class="a140">{{summa_propisyu}}</div>
    <div class="a141">{{s_user_surname}}</div>
    






  </div>
</div>