<!-- Отчеты - Уведомление -->
<div id="reportUvedoml" ng-controller="reportUvedomlCtrl" ng-show="global.selectedReportSubMenuItem === 12 && global.function.havePravoRead(4, 53)">
  <div id="report-uvedoml-data">
    <div id="report-uvedoml-header">
      <span>Дата</span>
      <input type="date" ng-model="fromDate" />
      <span> - </span>
      <input type="date" ng-model="toDate" />
      <button ng-click="btnUpdateReportClick($event)">Применить</button>
    </div>
    
    <table class="table table-bordered table-condensed table-striped">
      
      <tr>
        <th>В общем</th>
        <th>Звонок</th>
        <th>Доплата</th>
        <th>Не пришедшие</th>
        <th>Напоминание</th>
        <th>Сотрудник</th>
      </tr>

      <tr ng-repeat="item in report">
        <td>{{item.VOBSHEM}}</td>
        <td>{{item.ZVONOK}}</td>
        <td>{{item.DOPLATA}}</td>
        <td>{{item.NEPRISHEDSHIE}}</td>
        <td>{{item.NAPOMINANIE}}</td>
        <td>{{item.SOTRUDNIK}}</td>
      </tr>
    </table>
  </div>
</div>
<!-- /отчеты - Уведомление -->
